* {
	margin: 0;
	padding: 0;
}
#nav {
	height: 50px;
	width: 490px;
	margin: 0 auto;
}
#map {
	display: block;
	margin: 0 auto;
}
#starting, #step, #push_settings {
	height: 80%;
	width: 150px;
	margin: 5px;
}